.uploaded-section
{
    display: flex;
    flex-direction: column;
    
    background-color: #FFFFFF;
    padding: 45px 60px ;
    border-radius: 23px;
    width: inherit;
    background-blend-mode: normal;
    box-shadow: 0px 2px 4px rgba(100,100,100,0.5);
}

.uploaded-section .header-bar
{
    display: flex;
    margin-bottom: 40px;

    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.uploaded-section .header-bar > *
{
    margin: 5px;
}

.uploaded-section .header-bar .title
{
    color: #757575;
    font-size: 18px;
    
}

.uploaded-section .header-bar .refresh-button
{
    background-color: #000C77;
    color: #FFFFFF;
    border: none;
    border-radius: 8px;
    width: fit-content;   
    padding: 10px 1em;
}

.uploaded-section .uploaded-files
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    width: 100%;
    align-items: center;

}

.uploaded-section .uploaded-files .uploaded-item
{
    margin-bottom: 30px;
}

