{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/uploaded_section.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/uploaded_item.css') }}">
{% endblock %}

{% block body %}
    {% from 'components/uix/uploaded_item/uploaded_item.html' import uploaded_item %}
    <div class="uploaded-section">
        <div class="header-bar">
            <span class="title"> Uploaded files </span>
            <button class="refresh-button" id="refresh-uploaded-items"> Refresh </button>
        </div>
        
        <div class="uploaded-files" id="uploaded-files">
            {% for document in documents %}
                {{
                    uploaded_item(
                        document['title'], 
                        document['path'], 
                        document['short_content'],
                        document['type'], 
                        document['add_at'], 
                        document['cover_image_path']
                    )  
                }}
            {% endfor %}
        </div>
    </div>
{% endblock %}