{% macro uploading_item(id, name, size, type='PDF')  -%}
    <div class="uploading-item" id="{{id}}">
        <div class="logo">
            {% if type.upper()!='PDF' %}
                <img src="{{url_for('static', filename='images/PPT Doc.webp')}}" />
            {% else %}
                <img src="{{url_for('static', filename='images/PDF Doc.webp')}}" />
            {% endif %}
            </div>
        <div class="details">
            <div class="header">
                <span class="name">{{name}}</span>
                <span class="size">{{size}}</span>
                <button class="close"><img src="{{url_for('static', filename='images/close-icon.webp')}}" alt=""></button>
            </div>
            <div class="progress-bar">
                <input type="range" min="0" value="50" max="100" id="progress" >
            </div>
            <div class="progression-label">
                <span class="percentage">0%</span>
                <span>done</span>
            </div>
        </div>
    </div>
{%- endmacro  %}